<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>
      Bienvenido {{email}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout-button" routerLink="/login">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-custom">

  <ion-spinner *ngIf="listadoPosts.length === 0" name="crescent"></ion-spinner>

  <div *ngIf="listadoPosts.length > 0">
    <ion-card *ngFor="let post of listadoPosts">
      <ion-card-header>
        <ion-card-title>{{post.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{post.body}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>